<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Legend Of Dismodia{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('assets/css/main.css')}}" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('assets/css/navbar.css')}}" crossorigin="anonymous">
  {% endblock %}
</head>

<body>
<div class="container-fluid h-100">
  <div class="row sidebar-content">
    <aside>
      <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse">
          <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item">
              <a class="nav-link pl-0 navTitle" href="{{ path('index')}}">Legend Of Dismodia</a>
            </li>
            <li class="nav-item {{app.request.pathInfo == path('index') ? 'navActive' : ''}}">
              <a class="nav-link pl-0" href="{{ path('index')}}"><i class="fa fa-home fa-fw"></i> <span class="navbarText">Accueil</span></a>
            </li>
            <li class="nav-item {{app.request.pathInfo == path('guide') ? 'navActive' : ''}}">
              <a class="nav-link pl-0" href="{{ path('guide')}}"><i class="fa fa-question-circle fa-fw"></i> <span class="navbarText">Guide de jeu</span></a>
            </li>
            
            {% if app.user %}
            <li class="nav-item {{app.request.pathInfo == path('classement') ? 'navActive' : ''}}">
              <a class="nav-link pl-0" href="{{path('classement')}}"><i class="fa fa-list fa-fw"></i> <span class="navbarText">Classement des joueurs</span></a>
            </li>
            <li class="nav-item  {{app.request.pathInfo == path('game') ? 'navActive' : ''}}">
                <a class="nav-link pl-0" href="{{path('game')}}"><i class="fas fa-gamepad"></i> <span class="navbarText">Jouer</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="{{path('profil')}}"><i class="fas fa-user"></i> <span class="navbarText">Profil de {{app.user.username}} </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="{{path('compte')}}"><i class="fa fa-cog fa-fw"></i> <span class="navbarText">Mon compte</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i> <span class="navbarText">Déconnexion</span></a>
              </li>
            {% else %}
              <li class="nav-item {{app.request.pathInfo == path('login') ? 'navActive' : ''}}">
                <a class="nav-link pl-0" href="{{path('login')}}"><i class="fas fa-sign-in-alt"></i> <span class="navbarText">Connexion</span></a>
              </li>
            {% endif %}
            <li class="nav-item {{app.request.pathInfo == path('contact') ? 'navActive' : ''}}">
                <a class="nav-link pl-0" href="{{path('contact')}}"><i class="fa fa-envelope  fa-fw"></i> <span class="navbarText">Contact</span></a>
              </li>
          </ul>
        </div>
      </nav>

      {% if app.user is null %}
        <div class="mx-auto mt-3 text-center hideSmall">
          <a href="{{path('login')}}" class="btn btn-danger">Jouer<a>
        </div>
      {% endif %}
    </aside>

    
    <div class="toggle">
      <a><i class="fas fa-caret-left"></i></a>
    </div>
    

    <div class="col px-0">
      {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-success alert-dismissible fade show" role="alert">
          {{ message }} 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}

      {% block body %}
    </div>
  </div>
</div>



  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{{ asset('assets/js/main.js')}}" crossorigin="anonymous"></script>
  {% block javascripts %}
  {% endblock %}
</body>

</html>
