{% extends 'base.html.twig' %}
{% block body %}

    <body>
        <div id="content" style="display: block; width: 100%; text-align: center"></div>
    </body>
    <script src="{{ asset('assets/js/phaser.min.js')}}"></script>
    <script src="{{ asset('assets/js/Lvl1.js') }}"></script>
    <script src="{{ asset('assets/js/lvl2.js')}}"></script>
    <script src="{{ asset('assets/js/Lvl3.js')}}"></script>
    <script src="{{ asset('assets/js/Lvl4.js')}}"></script>
    <script src="{{ asset('assets/js/BattleScene.js')}}"></script>
    <script src="{{ asset('assets/js/game.js')}}"></script>
    <script src="{{ asset('assets/js/start.js')}}"></script>
{% endblock %}

