{% extends 'base.html.twig' %}
{% block body %}

    
<h1>Profil de {{user.username}}</h1></br>
<h2>Niveau :{{save.level}}</h2>
<h2>Point de vie: {{save.life}}</h2>
<h2>Mana: {{save.mana}}</h2>
<h2>XP: {{save.xp}}</h2>


<h2>Inventaire :</h2> </br>
<table>
{% for inventory in inventorys %}
   <tr>

       <th>{{inventory.name}}</th>
       <th>propriété</th>
       <th>{{inventory.rarety}}</th>
        <th><img src="{{inventory.image}}"></th>
        
   </tr>
{% endfor %}
</table>
{% endblock %}
